{% load static %}

{% if form.non_field_errors %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible fade show custom-shadow" role="alert">
                {{form.non_field_errors}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% if form.first_name.errors %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.first_name.errors}}
            </div>

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.last_name.errors}}
            </div>

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.username.errors}}
            </div>

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.email.errors}}
            </div>

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.password1.errors}}
            </div>

            <div class="alert alert-danger alert-dismissible fabe show">
                {{form.password2.errors}}
            </div>
        </div>

    </div>
</div>
{% endif %}